<div class="conteiner">
    <div class="contents_row">
        <p><%= @user.nickname%></p>
        <p><%= @user.reason %></p>
        <p><%= @user.birthday %></p>
    </div>
    <li><%= link_to "編集", "/user/#{current_user.id}/edit", method: :get %></li>
    
    <% @topics.each do |topics|%>
        <div class="row">
            <p><%= topics.title %></p>
            <p><%= topics.detail %></p>
            <p><%= topics.user.nickname %></p>
            <%= link_to 'トークルームを見る',"/topic/#{topics.id}", method: :get %>
        </div>
    <% end %>
</div>    