<div class="conteiner">
    <div class="contents_row">
        <p><%= simple_format @user.nickname%></p>
        <p><%= simple_format @user.reason %></p>
        <p><%= @user.birthday %></p>
        <li><%= link_to "編集", "/user/#{current_user.id}/edit", method: :get %></li>
    </div>    
    
    <% @topics.each do |topics|%>
        <div class="row">
            <p><%= simple_format topics.title %></p>
            <p><%= simple_format topics.detail %></p>
            <p><%= simple_format topics.user.nickname %></p>
            <li><%= link_to 'トークルームを見る', "/topic/#{topics.id}", method: :get %></li>
            <li><%= link_to 'トークルームを削除', "/topic/#{topics.id}", method: :delete %></li>
            
        </div>
    <% end %>
</div>    