<div class="container">
    <div class="card-panel hoverable">
        <div>テーマ：</div>
        <h4><%= simple_format(@topics.title) %></h4>
        <div>詳細：</div>
        <h5><%= simple_format(@topics.detail) %></h5>
        <h6>Nickname: <%= link_to "#{@topics.user.nickname}", "/user/#{@topics.user.id}", method: :get %></h6>
        <hr>
        <% if @topics.open_or_close? %>
            <% if user_signed_in? && current_user.id==@topics.user.id %>
                <%= form_tag("/topic/#{@topics.id}", method: :patch) do %>
                    <input type="hidden" name="open_or_close?" value="false">
                    <button class="btn btn-primary withripple" type="submit" value="save">トークルームを閉じる</button>
                <% end %>  
            <% end %>
        <% end %>
    </div>
    
        <% @opinions.each do |opinion|%>
            <% if opinion.unfortunate %>
                <div class="card-panel hoverable">
                    <p><%= simple_format opinion.content %></p>
                    <p>Nickname: <%= opinion.user.nickname %></p>
                    <hr>
                    <% if current_user.id == opinion.user.id%>
                        <%= link_to "削除", "/topic/#{opinion.topic.id}/opinion/#{opinion.id}", method: :delete, class: "btn btn-primary withripple" %>
                    <% end %>
                    <% if user_signed_in? && current_user.id==opinion.topic.user.id %>
                        <div class="button_form">
                            <%= form_tag("/topic/#{opinion.topic.id}/opinion/#{opinion.id}", method: :patch) do %>
                                <input type="hidden" name="unfortunate" value="false">
                                <button class="btn btn-primary withripple" type="submit" value="save">この発言を閉じる</button>
                            <% end %>
                        </div>
                    <% end %>
                </div>
                <% else %>
                    <div class="card-panel hoverable">この発言は削除されました</div>
            <% end %>
        <% end %>
    
    <% if @topics.open_or_close? && user_signed_in? %>
            <%= form_tag("/topic/#{@topics.id}/opinion", method: :post, remote: true) do %>
            　<div class="row">
                  <div class="row">
                    <div class="input-field col s12">
                      <textarea id="textarea1" class="materialize-textarea" name="content" rows="3" cols="40"></textarea>
                      <label for="textarea1">あなたの意見を聞かせてください</label>
                    </div>
                    <button class="btn btn-primary withripple "type="submit" value="save">投稿する</button>
                  </div>
              </div>
            <% end %>
    <% end %>
</div>