<!DOCTYPE html>
<html>
  <head>
    <title>Arthur</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
    <script　src="https://code.jquery.com/jquery-3.3.1.js"　integrity="sha256-2Kok7MbOyxpgUVvAk/HJ2jigOSYS2auK4Pfzbm7uH60="　crossorigin="anonymous"></script>
  </head>

  <body>
    
    <header>
      <nav class = "#006064 cyan darken-4">
        <div class="nav-wrapper">
          <a href="/" class="brand-logo">Arthur</a> 
          <ul id="nav-mobile" class="right hide-on-med-and-down">
            <% if user_signed_in?  %>
              <li><%= link_to "マイページ", "/user/#{current_user.id}", method: :get %></li>
              <li><%= link_to "トピック作成", "/topic/new", method: :get %></li>
              <li><%= link_to "ログアウト", destroy_user_session_path, method: :delete %></li>
            <% else  %>  
              <li><%= link_to "ログイン", new_user_session_path, method: :get %></li>
              <li><%= link_to "サインイン", new_user_registration_path , class: 'post'%></li>
            <% end %>
          </ul>
        </div>
      </nav>
    </header>
    
    <%= yield %>
  </body>
</html>
